h3, h2, h1 {
    padding-top: 10x;
    padding-bottom: 10px;
    text-align: center;
}

.page-width {
    margin: 0 auto;
    padding: 0 10px;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    font-style: normal;
    color: black;
    line-height: 1.375;
    margin: 1rem;
    padding: 1rem;
    max-width: 2rem auto;
    background-color: slategrey;
}

a:visited{
    color: green;
}

nav{
    text-align: center;
    line-height: 1.5;
}

img{
    text-align: center;
}