h3, h2, h1 {
    padding-top: 10x;
    padding-bottom: 10px;
    text-align: center;
}

.page-width {
    margin: 0 auto;
    padding: 0 10px;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    font-style: normal;
    color: black;
    line-height: 1.375;
}

html {
    color: gray;
}

p1 {
    text-align: center;
}